<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.frame.dao.RoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quick.frame.entity.Role">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, description, is_delete, create_time, update_time
    </sql>

    <select id="getRoleListInAccountNumber" resultMap="BaseResultMap">
        select * from role where id in(
            select b.role_id from
                user_info a join user_role b on a.id=b.user_id
            where a.account_number=#{accountNumber}
        )
    </select>

</mapper>
